
.searchBlock {
	flex: 1 0 0%;
	display: block;
	width: 100%;
	max-width: 100%;
	padding: .375rem .75rem;
	background-color: white;
	color: #212529;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	font-size: 24px;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .25rem;
	padding: .375rem .75rem;
	font-size: 24px;
}

.btnSuccess {
	color: white;
	background-color:#198754;
	border-color: #198754;
}

.empty {
	color: red;
	font-size: 28px;
	text-align: center;
	padding: 10px;
}